
.player-container {
  background-color: rgb(245, 222, 179, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  padding-right: 15px;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
  min-width: 220px;
  transition: 200ms;
  img {
    width: 50px;
    filter: drop-shadow(3px 0px 5px rgba(0,0,0,0.2));
  }
  p {
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0px 0px 0px 15px;
  }
}

.user-delete-btn {
  height: 15px;
  cursor: pointer;
}


//Class that has been added if player is active
.player-active {
  transform: scale(1.32) translateX(-29px);
  background-color: wheat;
}

@media (max-width: 700px) {
  .player-container {
    padding-right: 15px;
    min-width: 170px;
    img {
      width: 40px;
    }
    p {
      font-size: 1.2rem;
      margin: 0px 0px 0px 8px;
    }
  }
  .player-active {
    transform: scale(1.32) translateX(-23px);
  }

}
