
.player-container {
  background-color: rgb(245, 222, 179, 0.8);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  padding-right: 15px;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
  min-width: 200px;
  img {
    width: 50px;
    filter: drop-shadow(3px 0px 5px rgba(0,0,0,0.2));
  }
  p {
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0px 0px 0px 15px;
  }
}

.player-active {
  transform: scale(1.32) translateX(-26px);
  background-color: wheat;
}
