.description-container {
  max-width: 350px;
}

.short-description {
  margin-top: 10px !important;
}

.mat-card-title {
  line-height: 30px !important;
}

.task-cardsplayed-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
