.description-container {
  max-width: 350px;
}

.short-description {
  margin-top: 10px !important;
}

.mat-card-title {
  line-height: 30px !important;
}

.task-cardsplayed-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mat-card-subtitle {
  margin-top: 0px !important;
}

@media(max-width: 700px) {
  .description-container{
    max-width: 180px;
  }
}

@media (max-width: 450px) {
  .description-container{
    max-width: 150px;
  }
  mat-card-title {
    font-size: 1.2em !important;
  }
  mat-card-content{
    font-size: 1em !important;
  }
  mat-card-subtitle {
    font-size: 0.9em !important;
  }
}
