.start-screen {
  background-color: #261002;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  img:nth-child(0) {
    width: 100vw;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.start-btn {
  width: 200px;
  position: absolute;
  top: 30%;
  bottom: 0;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    filter: brightness(1.3);
  }
}
