.start-screen-container {
  background-color: #261002;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  position: relative;

}

.start-screen{
  position: relative;
}

.start-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.start-btn {
  width: 200px;
  position: absolute;
  top: 31%;
  left: 42.5%;
  bottom: 0;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    filter: brightness(1.3);
  }
}
