<section class="game-section">

  <img class="background-image" src="assets/img/bg-whiskey.jpg">

  <div class="card-stack">

    <img *ngFor="let card of [0,1,2,3,4]; let i = index;" [ngStyle]="{'left.%': i/4 + 10, 'bottom.%': i/4+10}"
         src="/assets/img/cards/back_jokerfire.png" alt="Cards">

    <img class="top-card" style="left: 11.25%; bottom: 11.25%"
         (click)="takeCard()" src="/assets/img/cards/back_jokerfire.png"
         alt="Cards-Back">
    <img class="pick-card" style="left: 11.25%; bottom: 11.25%"
         *ngIf="showFront" src="/assets/img/cards/{{ playedCard }}.png"
         alt="Card">

  </div>

</section>




