<section class="game-section">

  <img class="background-image" src="assets/img/bg-whiskey.jpg">

  <div class="card-stack">

    <img class="stack" *ngFor="let card of [0,1,2,3,4]; let i = index;"
         [ngStyle]="{'left.%': i/4 + 10, 'bottom.%': i/4+10}"
         src="assets/img/cards/back_jokerfire.png" alt="Cards">


    <!--// Ablagestapel-->
    <img class="discard-stack "
         style="left: 11.25%; bottom: 11.25%"
         *ngFor=" let card of game.playedCards; let i = index;"
         src="assets/img/cards/{{game.playedCards[i]||card}}.png">

    <!--// Top Card zum abheben-->
    <img class="top-card" style="left: 11.25%; bottom: 11.25%"
         (click)="takeCard()" src="assets/img/cards/back_jokerfire.png"
         alt="Cards-Back">

    <!--// Karte die gelegt wird-->
    <img class="pick-card" [ngClass]="{'pick-card-animation': game.pickCardAnimation }"
         style="left: 11.25%; bottom: 11.25%"
         *ngIf="game.pickCardAnimation" src="assets/img/cards/{{ game.playedCard }}.png"
         alt="Card">

  </div>

</section>


<app-player *ngFor="let player of game.players, let i = index" [ngStyle]="{'top.px': 120+ (i * 70) }"
            [playerActive]="i == game.currentPlayer"
            [player]="player"
            [game]="game"
            class="player-section">
</app-player>


<button class="button-plus" (click)="openDialog()" mat-fab color="accent">
  <mat-icon>person_add</mat-icon>
</button>

<app-game-description [card]="game.playedCard" [game]="game" class="game-description-component"></app-game-description>

<div *ngIf="game.cardsPlayed === 52"> Spiel zu Ende.</div>
