.player-section {
  position: absolute;
  right: 0;
  top: 15%;
}

.game-section {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -10;
}

.card-stack {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    position: absolute;
    //left: 10% - 15%;
    bottom: 10%;
    width: 200px;
  }
}

.stack {
  filter: drop-shadow(-5px 4px 5px rgba(33, 33, 33, 0.6));
}

.top-card {
  cursor: pointer;
  transition: all 120ms ease-in-out;

  &:hover {
    transform: scale(1.02) translateX(5px) translateY(-5px);
  }
}

.pick-card {
  transition: all 325ms ease-in-out;
  transform: scale(1) translate(0px, -320px) rotateZ(-70deg) !important;
  /*filter: drop-shadow(5px -4px 5px rgba(33, 33, 33, 0.6)) !important;*/
}

.pick-card-animation {
  animation: pick-card-animation 1500ms ease-in-out;
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1.02) translate(5px, -5px);
  }
  20% {
    transform: scale(1.2) translate(5px, -5px);
  }
  50% {
    transform: scale(1.2) translate(5px, -5px);
  }
  100% {
    transform: scale(1) translate(0px, -320px) rotateZ(-70deg);
  }
}

.discard-stack {
  transform: scale(1) translate(0px, -320px) rotateZ(-70deg);
  filter: drop-shadow(-5px 4px 5px rgba(33, 33, 33, 0.6));
}
