::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--main-color-bright) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--main-color-bright) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: var(--main-color-bright) !important;;
}

.profile-pic-container {
  display: flex;
  justify-content: space-between;
}

.profile-pic-container img {
  height: 45px;
  cursor: pointer;
}
